.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.card {
  display: flex;
  justify-content: center;
  width: 360px; 
  height: 200px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #808080;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.04);
}
